spring:
  jpa.hibernate.ddl-auto: create
  datasource:
    url: jdbc:mysql://localhost:3306/reaktor_school_base_server?createDatabaseIfNotExist=true
    username: root
    password: ${DB_PASSWORD}
    hikari:
      connection-timeout: 60000
      maximum-pool-size: 5
server:
  port: 8092
logging:
    level:
        root: INFO
    file:
        name: /tmp/reaktor_schoolBaseServer.log
        max-size: 1MB
        max-history: 10
        total-size-cap: 10MB
reaktor:
  publicKeyFile: ${PUBLIC_KEY_FILE}
  urlCors: https://somos.iesjandula.es
  firebase_server_url: https://api.iesjandula.es/
  http_connection_timeout: 30000
  curso_academico: 2025/2026